
* {
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure full height */
  overflow: hidden; /* Prevent scrolling */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  height: 100vh; 
  background-image: url('/alejandravacuii_comingSoon.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative; 
  overflow: hidden; /* To prevent scrollbars */
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 1); /* Black overlay */
  opacity: 1; /* Start fully transparent */
  animation: fade 17s ease-in-out infinite; /* Animation */
  z-index: 1; /* Place it above the background */
}

@keyframes fade {
  100% {
      opacity: 1; /* Start fully opaque */
  }
  50% {
      opacity: 0; /* Fade to fully transparent */
  }
  0% {
      opacity: 1; /* Fade back to opaque */
  }
}

h1 {
  font-family: 'Libre Baskerville', serif; 
  font-size: 4.5vh; /* Responsive font size */
  z-index: 2; 
  position: relative;
  color: rgba(255, 255, 255, 0.08);
  transform: translateY(270%); /* Center vertically */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}
h2 {
  font-family: 'Libre Baskerville', serif; 
  font-size: 1.5vh; /* Responsive font size */
  z-index: 2; 
  position: relative;
  color: rgba(255, 255, 255, 0.08);
  transform: translateY(270%); /* Center vertically */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  
}


h1{
  margin-top: 290px;
  margin-bottom: 290px;
}

h2{
  margin-top: 270px;
}


.footer {
  font-size: 1.3vh;
  font-family: 'Libre Baskerville', serif; 
  position: fixed; /* Change to fixed */
  bottom: 0; /* Stick to the bottom */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  color: rgba(5, 4, 4, 0.288);
  padding: 0rem; /* Corrected casing */
  text-align: center; /* Center the text */
  font-weight: bold;
  
}

@media (max-width: 600px) {
  h1, h2 {
    font-size: 6vh; /* To make smaller font size for smaller screens */
    margin-bottom: 15px;
  }

  body {
  background-position: 52% center;
  }
  
}

/*Media queries for the different orientations and screen sizes */
@media (orientation: landscape){
h1 {
  margin-bottom: 50px;
}

}

@media (orientation: portrait) {
  h1 {
    margin-bottom: 25px;
  }
}
.app.landscape {
  background-color:black;
}

.app.portrait {
  background-color:black;
}

.orientation-warning {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  padding: 1rem;
  border-radius: 5px;
  z-index: 10;
}

a {
  color:  rgba(255, 255, 255, 0.08);
  text-decoration: none; 
}

a:hover {
  color: white; 
}