


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  margin: 0;
  height: 100vh;
  background-image: url('/alejandravacuii_comingSoon.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative; 
  overflow: hidden; /* To prevent scrollbars */
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 1); /* Black overlay */
  opacity: 0; /* Start fully transparent */
  animation: fade 17s ease-in-out infinite; /* Animation */
  z-index: 1; /* Place it above the background */
}

@keyframes fade {
  100% {
      opacity: 0; /* Start transparent */
  }
  50% {
      opacity: 1; /* Fade to fully opaque */
  }
  0% {
      opacity: 0; /* Fade back to transparent */
  }
}

h1, h2 {
  font-family: 'Libre Baskerville', serif; 
  font-size: 8vh; /* Responsive font size */
  z-index: 2; 
  position: relative;
  color: rgba(255, 255, 255, 0.08);
  transform: translateY(150%); /* Center vertically */
  margin: 0; /* Remove default margin */
}

h1 {
  margin-bottom: -40px; /* Aimed at space between h1 and h2 */
 
}

@media (max-width: 600px) {
  h1, h2 {
    font-size: 6vh; /* To make smaller font size for smaller screens */
  }

  body {
  background-position: 52% center;
  }
  
}

